<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせ内容編集</title>
</head>
<body>
	<h1>お問い合わせ内容編集</h1>
	
	<form th:action="@{/admin/contacts/update}" th:object="${contactFormUpdate}" th:method="post">
		<a th:href="@{/admin/contacts/{id}(id=*{id})}">編集をキャンセル(内容は保存されません)</a>
		<table border="1">
			<input type="hidden" th:field="*{id}" />
			<tr>
				<td>姓</td>
				<td>
					<input type="text" th:field="*{lastName}">
					<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red"></span>
				</td>
			</tr>
			<tr>
				<td>名</td>
				<td>
					<input type="text" th:field="*{firstName}">
					<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red"></span>
				</td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td>
					<input type="email" th:field="*{email}">
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></span>
				</td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td>
					<input type="tel" th:field="*{phone}">
					<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red;"></span>
				</td>
			</tr>
			<tr>
				<td>郵便番号</td>
				<td>
					<input type="text" th:field="*{zipCode}">
					<span th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" style="color: red;"></span>
				</td>
			</tr>
			<tr>
				<td>住所</td>
				<td>
					<input type="text" th:field="*{address}">
					<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red;"></span>
				</td>
			</tr>
			<tr>
				<td>建物名</td>
				<td>
					<input type="text" th:field="*{buildingName}">
					<span th:if="${#fields.hasErrors('buildingName')}" th:errors="*{buildingName}" style="color: red;"></span>
				</td>
			</tr>
			<tr>
				<td>お問い合わせ種別</td>
				<td>
					<select name="contactType">
						<option value="services">サービスに関するお問い合わせ</option>
						<option value="technicalQuestions">技術的なお問い合わせ</option>
						<option value="others">その他</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>お問い合わせ内容</td>
				<td>
					<textarea th:field="*{body}" row="4" cols="80"></textarea>
					<span th:if="${#fields.hasErrors('body')}" th:errors="*{body}" style="color: red;"></span>
				</td>
			</tr>
		</table>
		<input type="submit" value="保存">
	</form>
	<br>
	<br>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト">
	</form>
</body>
</html>