<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<h1>ログイン</h1>
	<form th:action="@{/admin/signin}" method="post">
		<table border="1">
			<tr>
				<td>メールアドレス</td>
				<td>
					<input type="text" class="form-control" id="email" name="username" required autofocus>
				</td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td>
					<input type="password" class="form-control" id="password" name="password" required>
				</td>
			</tr>
		</table>
		<input type="submit" value="ログイン">
	</form>
	<br>
	<div th:if="${param.error}" class="alert alert-danger mt-3" style="color: red;">メールアドレスかパスワードが間違っています</div>

</body>
</html>