<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせ詳細</title>
</head>
<body>
<div class="container">
<h1>お問い合わせ詳細</h1>

<a th:href="@{/admin/contacts/{id}/edit(id=*{id})}">編集</a>

<div th:object="${customerData}">
	<table border="1">
		<tr>
			<td>お問い合わせID</td>
			<td>
				<p th:text="*{id}"></p>
			</td>
		</tr>
		
		<tr>
			<td>姓</td>
			<td>
				<p th:text="*{lastname}"></p>
			</td>
		</tr>
		
		<tr>
			<td>名</td>
			<td>
				<p th:text="*{firstname}"></p>
			</td>
		</tr>
		
		<tr>
			<td>メールアドレス</td>
			<td>
				<p th:text="*{email}"></p>
			</td>
		</tr>
		
		<tr>
			<td>電話番号</td>
			<td>
				<p th:text="*{phone}"></p>
			</td>
		</tr>
		
		<tr>
			<td>郵便番号</td>
			<td>
				<p th:text="*{zipCode}"></p>
			</td>
		</tr>
		
		<tr>
			<td>住所</td>
			<td>
				<p th:text="*{address}"></p>
			</td>
		</tr>
		
		<tr>
			<td>建物名</td>
			<td>
				<p th:text="*{buildingName}"></p>
			</td>
		</tr>
		
		<tr>
			<td>お問い合わせ種別</td>
			<td>
				<p th:text="*{contactType}"></p>
			</td>
		</tr>
		
		<tr>
			<td>内容</td>
			<td>
				<p th:text="*{body}"></p>
			</td>
		</tr>
		
		<tr>
			<td>作成日時</td>
			<td>
				<p th:text="*{createdAt}"></p>
			</td>
		</tr>
		
		<tr>
			<td>更新日時</td>
			<td>
				<p th:text="*{updatedAt}"></p>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<a th:href="@{/admin/contacts/{id}/delete(id=*{id})}" onclick="return confirm('レコードを削除してよろしいですか？');">このレコードを削除する</a>
	<br>
	<a href="/admin/contacts">一覧に戻る</a>
	<br>
	<br>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト">
	</form>
</body>
</html>